@using Octokit
@model githubAPI.Models.GithubViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Busque um repositorio do Github</h1>

@using(Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Repo)
    <br />
    <input type="submit" value="Buscar Repositorio"/>
}