@model githubAPI.Models.GithubViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using(Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Name)
    <br />
    <input type="submit" value="ShowMessage"/>
}

@{
    <p>@ViewData["Message"]</p>;
}