@{
    ViewData["Title"] = "Página Inicial";


}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br/>

<input type="text" />
<input type="submit" />